<header class="header container-fluid">
    <!-- Header Main -->
          <!-- Logo -->
          <div>
         <span><a [routerLink]="'/register'">Register || </a></span> 
         <span><a [routerLink]="'/login'">Login || </a></span>
         <span><a [routerLink]="'/home'">Logout || </a></span>
        </div>
         <div id="topNav">
          <span><button  (click)="getCategory('HOME')"><a [routerLink]="'/home'">HOME</a></button></span>
           <span><button  (click)="getCategory('MOBILE')"><a [routerLink]="'/displayproducts'">Mobile</a></button></span>
           <span><button (click)="getCategory('WATCH')"><a [routerLink]="'/displayproducts'">Watch</a></button></span>
           <span><button><a [routerLink]="'/cartpage'">Cart</a></button></span>
           
         </div>
          
          <!-- <div class="row"> 
                 <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-5 order-1">
                     <div class="logo_container">
                         <div class="logo">
                           <a href="#"><img src="../assets/logo-bgs.jpg"></a></div>
                     </div>
                 </div> 
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-4 order-sm-2 col-12 order-4">
                   <form action="#" class="header_search_form clearfix flex-row">
                       <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                       <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
                   </form>
                 </div>
                 <div class="cart_container col-xl-1 col-lg-1 col-md-2 col-sm-1 col-3 order-2">
                   <div class="cart_icon"> 
                     <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                     <div class="cart_count"><span>3</span></div>
                   </div>
                  </div>
                  <div class="username col-xl-1 col-lg-2 col-md-2 col-sm-1  col-4 order-3 ">
                    <div class="glyphicon glyphicon-user"> </div>
                     <div>sakthi</div>
                   </div>
               </div>  -->
</header>
