<div id="statuMessage" *ngIf="this.savedStatus">
 <div> REGISTRATION SUCCESSFUL </div>
 <button (click)=gotoLogin()>Click here to login</button>
</div>

<div id="registerpageContainer" *ngIf="!this.savedStatus">
 <form #contactForm="ngForm" (ngSubmit) = "onSubmit(contactForm)">
   
        <label for="firstName" class="form-label">First Name</label>
        <input type="text"  name="customerFirstName"  id="firstName" ngModel>
      
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text"  name="customerLastName" id="lastName" ngModel>
  
  
        <label for="phoneNo" class="form-label">Mobile no</label>
        <input type="text" name="customerMobileNo" id="phoneNo" ngModel>
   
       <label for="emailID" class="form-label">Email address</label>
        <input type="email" name="customerEmail" id="emailID" ngModel>
  
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5"  name="customerPassword" ngModel>
    
        <label for="address" class="form-label">Address</label>
        <input type="text" name="customerAddress" id="address" ngModel>
   
        <label for="street" class="form-label">Street</label>
        <input type="text" name="street" id="street" ngModel>
     
        <label for="city" class="form-label">City</label>
        <input type="text" name="city" id="city" ngModel>
      
        <label for="zipcode" class="form-label">zipcode</label>
        <input type="text" name="zipcode" id="zipcode" ngModel>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    
  </form> 


</div>

