<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<div id="parentContainer" class="parentContainer">
  <div id=loader *ngIf="enableLoader">
    <div style="position: absolute; background-color: rgba(255, 255, 255, 0.6); width: 100%; height: 100%; z-index: 100000">
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Loading...
      </div>
  </div>
  </div>
    <!-- Header -->
   <app-header></app-header>
  
  <div class="mainContent container">

   

    <router-outlet></router-outlet>
</div>



</div>

